<div class="AccountForm Container">
  <h1 class="PageBanner">Create a<br>Custom Theme</h1>

  <%= render "form", custom_theme: custom_theme, is_update: false %>

  <footer class="AccountFormFooter">
    <%= link_to 'Back', custom_themes_path %>
  </footer>
</div>
