version: "3.2"

volumes:
  db-data:
  yarn:
  gems:
  log:
  tmp:

services:
  db:
    environment:
      POSTGRES_USER: root
      POSTGRES_DB: adventure-time_development
    image: postgres:9.3-alpine
    volumes:
      - db-data:/var/lib/postgresql/data

  app:
    image: storyboard_app
    build:
      context: .
      dockerfile: ./.docker-config/Dockerfile
    entrypoint: ./.docker-config/entrypoint.sh
    command: ./bin/rails server -p 3000 -b '0.0.0.0'
    ports:
      - 3000:3000
    volumes:
      - .:/usr/src/app:delegated
      - yarn:/usr/src/app/node_modules
      - gems:/usr/local/bundle
      - log:/usr/src/app/log
      - tmp:/usr/src/app/tmp
      - type: bind
        source: /run/host-services/ssh-auth.sock
        target: /run/host-services/ssh-auth.sock
