<div class="Container" style="padding-bottom: 40px;">
  <h2>Terms</h2>
  <p>
    By accessing this web site, you are agreeing to be bound by these web site Terms of Service and all applicable laws and regulations and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this web site are protected by applicable copyright and trademark law.
  </p>

  <h2>Use License</h2>
  <p>
    Permission is granted to temporarily download the materials (information or software) on the Storyboard web site for personal, non-commercial viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
  </p>
  <ul>
    <li>
      Modify or copy the materials;
    </li>
    <li>
      Use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
    </li>
    <li>
      Attempt to decompile or reverse engineer any software contained on the Storyboard web site;
    </li>
    <li>
      Remove any copyright or other proprietary notations from the materials; or
    </li>
    <li>
      Transfer the materials to another person or "mirror" the materials on any other server.
    </li>
  </ul>

  <p>
    This license shall automatically terminate if you violate any of these restrictions and may be terminated by Viget (the creator and owner of Storyboard) at any time. Upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
  </p>
  <p>
    Please note that Viget respects the intellectual property rights of others and expects users of Storyboard to do the same. To that end, Storyboard users are subject to the Acceptable Use conditions set forth below.
  </p>

  <h2>Acceptable Use; Disclaimer</h2>
  <p>
    The materials on the Storyboard web site are provided "as is." Viget makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, Viget does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on the Storyboard web site or otherwise relating to such materials or on any sites linked to this site.
  </p>
  <p>
    Storyboard users are solely responsible for the user content that you post and you agree not to post or otherwise publish via Storyboard any of the following:
  </p>
  <ul>
    <li>
      User content that is unlawful, defamatory, hateful, harassing, invasive of privacy or publicity rights, abusive, inflammatory, fraudulent, or otherwise objectionable or harmful;
    </li>
    <li>
      User content that is obscene, pornographic, indecent, lewd, sexually suggestive, including without limitation photos, videos, or other content containing nudity;
    </li>
    <li>
      User content that would constitute, encourage or provide instructions for a criminal offense, violate the rights of any party, endanger national security, or that would otherwise create liability or violate any local, state, national, or international law;
    </li>
    <li>
      User content that may infringe or violate any patent, trademark, trade secret, copyright or other intellectual property right of any party;
    </li>
    <li>
      Private information of any third party, including, without limitation: addresses, phone numbers, email addresses, social security numbers, and credit card numbers;
    </li>
    <li>
      Viruses, corrupted data or other harmful, disruptive or destructive files; and
    </li>
    <li>
      User content that, in the sole discretion of Viget, is objectionable, harmful, or which may expose Viget or Storyboard users to any harm or liability of any nature.
    </li>
  </ul>

  <h2>Limitations</h2>
  <p>
    In no event shall Viget or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on the Storyboard web site, even if Viget or a Viget authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
  </p>

  <h2>Revisions and Errata</h2>
  <p>
    The materials appearing on the Storyboard web site could include technical, typographical, or photographic errors. Viget does not warrant that any of the materials on the web site are accurate, complete, or current. Viget may make changes to the materials contained on the Storyboard web site at any time without notice. Viget does not, however, make any commitment to update the materials.
  </p>

  <h2>Links</h2>
  <p>
    Viget has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Viget of the site. Use of any such linked web site is at the user's own risk.
  </p>

  <h2>Site Terms of Use Modifications</h2>
  <p>
    Viget may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.
  </p>

  <h2>Governing Law</h2>
  <p>
    Any claim relating to Viget's Storyboard web site shall be governed by the laws of the Commonwealth of Virginia without regard to its conflict of law provisions.
  </p>
</div>
