<title>Storyboard</title>

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
