<div class="StoryIndex">
  <div class="StoryIndexBanner">
    <h1 class="PowerBanner">Storyboard</h1>


    <p class="StoryIndexIntro">
      Build your story just the way you want it.

      <%= link_to "Create a Story →", new_adventure_path, class: "StoryIndexIntroAction" %>
    </p>
  </div>

  <section class="StoryIndexFeatured">
    <% Adventure::FEATURE_GROUPS.each do |feature_group| %>
      <%= render 'featured_adventures', feature_group: feature_group %>
    <% end %>
  </section>
</div>
