<div class="Container">
  <h1 class="PageBanner">My Stories</h1>

  <% if @adventures.size <= 0 %>
    <p>You have no stories. Live a little!</p>
  <% end %>

  <p>
    <%= link_to "Create a Story", new_adventure_path, class: "SlantButton" %>
  </p>

  <div class="AdventureList">
    <% @adventures.each do |adventure| %>
      <div class="card">
        <%= link_to adventure do %>
          <div class="card-image">
            <iframe src="<%= adventure_path(adventure) %>"></iframe>
          </div>
          <div class="card-title">
            <%= adventure %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
