<div class="AccountForm Container">
  <h1 class="PageBanner">Create a<br>Story</h1>

  <% unless current_user %>
    <p>
      <em>
        If you'd like to maintain ownership of this story, log in or create an
        account before you create it.
      </em>
    </p>
  <% end %>

  <%= render "shared/adventure_form", is_update: false, correct_user: current_user %>

  <footer class="AccountFormFooter">
    <%= link_to 'Back', adventures_path %>
  </footer>
</div>
