<div class="PlayerContainer">
  <% if @adventure.editable_by?(current_user) %>
    <%= link_to 'Edit', [:edit, @adventure], class: "SlantButton -large" %>
    <br>
    <br>
  <% end %>

  <h1 class="PlayerTitle">
    <span class="PlayerTitlePrelude">You have embarked on&hellip;</span>
    <%= @adventure %>
  </h1>

  <div id="player"></div>

  <script>
    // Not great, but hackathon!
    document.body.className += " <%= @adventure.theme.capitalize %>Theme"

    var SEED = {
      story: <%== @adventure.content.to_json %>
    }
  </script>
</div>
