.AdventureList {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
}

.AdventureList .card {
  background: #eee;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.54);
  flex-basis: 31%;
  margin: 1%;
  transition: 0.3s all;
  position: relative;
}

.AdventureList .card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.68);
}

.AdventureList .card a {
  color: black;
  text-decoration: none;
}

.AdventureList .card a:hover,
.AdventureList .card a:focus {
  text-decoration: underline;
}

.AdventureList .card .card-image {
  width: calc(100% - 20px);
  padding-top: 70%;
  background: #bbb;
  margin: 10px;
  position: relative;
}

.AdventureList .card iframe {
  background: white;
  height: 300%;
  left: 0;
  border: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 300%;
  transform: scale(0.3333333);
  transform-origin: 0 0;
}

.AdventureList .card .card-title {
  margin: 10px;
  text-decoration: none;
}

@media only screen and (max-width: 500px) {
  .AdventureList .card {
    margin: 5px;
  }
}
