/**
 * Storyboard logo. Shows up inside the main header.
 */

@import "../../variables.css";

.Footer {
  background: var(--color-grey-button);
}

.Footer.-black {
  background: var(--mkt-charcoal);
}

.FooterContainer {
  max-width: 1100px;
  padding: 0 24px;
  margin: 0 auto;
  width: 100%;

  min-height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
}

@media only screen and (max-width: 650px) {
  .FooterContainer {
    flex-direction: column;
    min-height: 160px;
  }

  .FooterLinks a {
    display: block;
    text-align: center;
    margin: 15px;
  }

  .OrgLinks {
    margin-bottom: 10px;
  }
}

.FooterLinks a {
  color: #eee;
  text-decoration: none;
  margin-right: 30px;
}

.FooterLinks a:hover,
.FooterLinks a:focus {
  color: var(--mkt-gold);
}

.OrgLinks {
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;
}

.OrgLinks a {
  text-decoration: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.OrgLinks .pointless {
  height: 80%;
}

.OrgLinks .pointless svg {
  height: 100%;
}

.OrgLinks .viget {
  margin-left: 26px;
}

.OrgLinks .viget p {
  font-weight: 700;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #eee;
  font-size: 8px;
  margin: 0 0 3px;
  text-align: center;
  transition: color .15s ease-in-out;
}

.OrgLinks .viget svg {
  height: 60%
}

.OrgLinks .viget:after {
  border-left: 1px solid #eee;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  -webkit-transform: translate(-12px) rotate(10deg);
  transform: translate(-12px) rotate(10deg);
  width: 0;
}
