@import "../../variables.css";

.StoryIndex {

}

.StoryIndexBanner {
  background: url('../../images/home-banner.jpg') 0 0 no-repeat / auto 100%;
  padding: 52px 0 0 290px;
  height: 480px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
  position: relative;
  max-width: 1000px;
  margin-bottom: 48px;
}

.StoryIndexIntro {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  color: white;
  display: inline-block;
  padding: 24px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
  position: absolute;
  bottom: 0;
  right: 20%;
}

.StoryIndexIntroAction {
  color: inherit;
  display: block;
  font-family: var(--font-serif);
  margin-top: 24px;
  text-decoration: none;
  text-transform: uppercase;
}

.StoryIndexFeatured {
  padding: 24px;
  max-width: 1000px;
  margin: 0 auto;
}
