@import './variables.css';

html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: var(--color-body);
  font: 300 16px/1.6 var(--font-system);
  letter-spacing: 0.01em;
  margin: 0;
}

button {
  cursor: pointer;
}

.AdventureHeader {
  background: #111;
  padding: 0 8px;
  text-align: right;
}

.AdventureHeader a {
  color: #eee;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 4px;
}

.AdventureHeader a:hover,
.AdventureHeader a:focus {
  text-decoration: underline;
}

.Badge {
  background: #223;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 12px;
  padding: 4px 8px;
  vertical-align: middle;
  margin: 0 8px;
}
