html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: var(--color-body);
  font: 300 16px/1.6 var(--font-sans);
  letter-spacing: 0.01em;
  margin: 0;
}

button {
  cursor: pointer;
}

p.notice,
p.alert {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  background: lightgrey;
  border-radius: 5px;
  color: var(--mkt-charcoal);
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  width: 1px;
}
