:root {
  --font-sans: 'Open Sans', sans-serif;
  --font-serif: Garamond, Georgia, serif;

  /**
   * These colors are used for marketing pages. They should be
   * different so they aren't coupled to the editor
   */
  --mkt-charcoal: #2B2D39;
  --mkt-gold: #D7A10C;
  --mkt-text: white;

  /**
   * These colors are used for the editor. They should be different so
   * they aren't coupled to the marketing pages
   */
  --color-body: #334;
  --color-tooling: rgba(0, 0, 0, 0.12);
  --color-tooling-inverse: rgba(255, 255, 255, 0.04);
  --color-grey-button: #555461;
}
