:root {
  --font-sans: 'Open Sans', sans-serif;
  /* https://www.cssfontstack.com/Garamond */
  --font-serif: Garamond, Baskerville, Baskerville Old Face, Hoefler Text,
    Times New Roman, serif;

  /**
   * These colors are used for marketing pages. They should be
   * different so they aren't coupled to the editor
   */
  --mkt-charcoal: #2b2d39;
  --mkt-charcoal-light: #3a3a48;
  --mkt-gold: #d7a10c;
  --mkt-text: white;

  /**
   * These colors are used for the editor. They should be different so
   * they aren't coupled to the marketing pages
   */
  --color-body: #334;
  --color-tooling: rgba(0, 0, 0, 0.12);
  --color-tooling-inverse: rgba(255, 255, 255, 0.04);
  --color-very-light-grey: #858494;
  --color-light-grey: #6c6b7b;
  --color-grey-button: #555461;
  --color-dark-grey: #302f37;
}
