@import '../variables.css';
@import '../type.css';

.Editor {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Editor > header {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 0 16px;
}

.EditorActions a {
  text-decoration: none;
}

.EditorActions a:hover,
.EditorActions a:focus {
  text-decoration: underline;
}

.EditorMain {
  background-color: #224;
  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      var(--color-tooling-inverse) 1px,
      transparent 1px
    ),
    linear-gradient(
      to bottom,
      var(--color-tooling-inverse) 1px,
      transparent 1px
    );
  display: flex;
  flex: 1 1;
  flex-direction: row;
  position: relative;
}

.EditorWorkspace {
  height: 100%;
  position: relative;
  width: 100%;
}

.EditorNote {
  background: rgba(0, 0, 0, 0.54);
  bottom: 0;
  color: white;
  left: 0;
  padding: 24px;
  position: fixed;
  width: 100%;
}

.EditorTools {
  background: rgba(96, 135, 173, 0.87);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.54);
  left: 16px;
  margin: 0;
  padding: 6px;
  position: absolute;
  top: 16px;
  z-index: 100;
}

.EditorToolsDivider {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.EditorButton {
  background: white;
  border-radius: 3px;
  border: 0;
  color: #111;
  display: block;
  font: inherit;
  font-size: 12px;
  font-weight: 400;
  margin-top: 4px;
  overflow: hidden;
  padding: 4px 8px;
  position: relative;
  text-align: center;
  width: 100%;
}

.EditorButton.-zooms {
  height: 27px;
  padding: 0;
}

.EditorButton.-zooms button {
  height: 100%;
  width: 50%;
  background: white;
  border: none;
  font-size: 15px;
}

.EditorButton.-zooms button:first-child {
  border-right: 2px solid var(--color-grey-button);
}

.EditorButton.-zooms button:last-child {
  border-left: 2px solid var(--color-grey-button);
}

.EditorButton:first-child {
  margin-top: 0;
}

.EditorButton > input[type='file'] {
  opacity: 0;
  position: absolute;
  left: -100%;
}

.EditorButton.TutorialButton {
  bottom: 0;
  border: 1px solid #224;
  font-size: 16px;
  right: 0;
  margin: 5px;
  padding: 5px;
  position: fixed;
  width: 40px;
}
