/**
 * FlowChart
 *
 * These styles control the visual appearance of the
 * storm-react-diagrams flow chart components
 */

.srd-diagram {
  cursor: move;
  display: flex;
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  transform: translateZ(0);
}

.srd-diagram__selector {
  position: absolute;
  background-color: rgba(0, 192, 255, 0.2);
  border: solid 2px #00c0ff;
}

.srd-link-layer {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-origin: 0 0;
  overflow: visible !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.srd-node-layer {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}

.srd-node {
  position: absolute;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: move;
  pointer-events: all;
}

.srd-node--selected > * {
  outline: 3px solid #2196f3;
  outline-offset: 7px;
  outline-style: dashed;
}

.srd-port {
  background: #c0c8ff;
  border-radius: 50%;
  border: 2px solid currentColor;
  height: 20px;
  margin-top: -10px;
  position: absolute;
  right: -8px;
  top: 50%;
  width: 20px;
}

.srd-port:hover,
.srd-port.selected {
  background: #c0ff00;
}

.srd-default-node {
  border-radius: 3px;
  color: #333;
  display: flex;
  font-size: 14px;
  overflow: visible;
  transition: 0.2s all;
}

.srd-default-node__title {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.54);
  border-radius: 2px;
  background: white;
  display: flex;
  padding: 8px 16px;
  font-weight: 600;
  min-height: 60px;
  width: 160px;
  margin: 8px;
}

.srd-default-node__title > * {
  align-self: center;
}

.srd-default-node__title .fa {
  padding: 5px;
  opacity: 0.2;
  cursor: pointer;
}

.srd-default-node__title .fa:hover {
  opacity: 1;
}

.srd-default-node__name {
}

.srd-default-node__ports {
  display: flex;
  flex-direction: column;
}

.srd-default-node__in .name {
  display: none;
}

.srd-default-node__in .srd-port {
  left: -12px;
}

.srd-default-node__out .srd-default-port {
  margin: 8px 8px 8px 0px;
  position: relative;
}

.srd-default-port > * {
  align-self: center;
}

.srd-default-port__name {
  padding: 0 5px;
}

.srd-default-port--out {
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.54);
  border-radius: 2px;
  padding: 8px 16px 8px 8px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  position: relative;
}

.srd-default-port--out:before {
  content: '';
  height: 3px;
  position: absolute;
  background: black;
  opacity: 0.54;
  left: -8px;
  width: 8px;
  top: 50%;
  margin-top: -1.5px;
}

.srd-default-port--out .srd-default-port__name {
  justify-content: flex-end;
  text-align: right;
}

.srd-default-label {
  background: rgba(70, 70, 70, 0.8);
  border: 1px solid #333;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: smaller;
  padding: 5px;
}

@keyframes dash {
  from {
    stroke-dashoffset: 24;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.srd-default-link path {
  fill: none;
  pointer-events: all;
}

.srd-default-link--path-selected {
  stroke: #00c0ff !important;
  stroke-dasharray: 10, 2;
  animation: dash 1s linear infinite;
}

.srd-default-link__label {
  pointer-events: none;
}

.srd-default-link__label > div {
  display: inline-block;
  position: absolute;
}

.srd-default-link__point {
  fill: rgba(255, 255, 255, 0.5);
}

.srd-default-link--point-selected {
  fill: #00c0ff;
}
