/**
 * It's game time
 */

@import '../variables.css';

.PlayerContainer {
  max-width: 480px;
  margin: 48px auto;
  position: relative;

  @media only screen and (max-width: 516px) {
    max-width: 93%;
  }
}

.PlayerHeader {
  display: flex;
  margin: 0 0 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding-bottom: 32px;
  justify-content: space-between;
}

.PlayerTitle {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
}

.PlayerTitlePrelude {
  font-family: var(--font-serif);
  font-style: italic;
  font-size: 15px;
  display: block;
  opacity: 0.88;
  margin-bottom: 16px;
}

.PlayerActions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 10px;
}

.PlayerActions a {
  margin-bottom: 7px;
}

.PlayerSectionTitle {
  font-size: 18px;
  margin-top: 32px;
  font-weight: bold;
}

.PlayerChoiceList {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  list-style: none;
  margin: 36px 0 0;
  padding: 0;
}

.PlayerChoiceList li {
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  cursor: pointer;
}

.PlayerChoiceList p {
  flex: 1 1;
  padding: 8px 16px;
  border-right: 1px solid #d9d9d9;
  margin: 0;
}

.PlayerChoiceList button + p {
  border-left: 1px solid #d9d9d9;
  border-right: none;
}

.PlayerChoiceList button {
  background: 0;
  padding: 8px;
  margin: 0;
  width: 40px;
  line-height: 16px;
  border: 0;
  font-size: 24px;
  transition: 0.3s all;
}

.PlayerChoiceList button:hover,
.PlayerChoiceList button:focus {
  color: #03a9f4;
}

.PlayerChoiceList li:last-child {
  border-bottom: 0;
}

.PlayerEndPane {
  margin-top: 75px;
}

/**
 * --------------------------------------------------
 * THEMES
 * --------------------------------------------------
 */

/* Light theme */

.LightTheme .Player {
  font-family: monospace !important;
}

/* Viget Theme */

.VigetTheme {
  background: #054f67;
  color: white;
}

.VigetTheme .PlayerTitle {
  border-bottom-color: white;
}

.VigetTheme .AdventureHeader {
  background: #054f67;
}

.VigetTheme .PlayerContainer {
  margin: 48px 5%;
}

.VigetTheme .PlayerChoiceList {
  border: 0;
}

.VigetTheme .PlayerChoiceList li {
  border: 0;
  margin-bottom: 16px;
}

.VigetTheme .PlayerChoiceList li p {
  border: 0;
  padding: 0;
}

.VigetTheme .PlayerChoiceList button {
  background: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

/* Space Theme */

.SpaceTheme {
  background: #000;
  color: white;
}

.SpaceTheme .PlayerTitle {
  border-bottom-color: transparent;
  position: relative;
  padding-bottom: 64px;
  font-family: sans-serif;
  font-weight: black;
  text-transform: uppercase;
  font-style: italic;
  padding-top: 64px;
  margin-top: 128px;
}

.SpaceTheme .PlayerTitle:after {
  position: absolute;
  top: -40px;
  left: -20px;
  height: 100%;
  width: 100px;
  z-index: -1;
  content: "";
  background: #8C3327;
}

.SpaceTheme .AdventureHeader {
  background: #054f67;
}

.SpaceTheme .PlayerContainer {
  margin: 48px 5%;
}

.SpaceTheme .PlayerChoiceList {
  border: 0;
}

.SpaceTheme .PlayerChoiceList li {
  border: 0;
  margin-bottom: 16px;
}

.SpaceTheme .PlayerChoiceList li p {
  border: 0;
  padding: 0;
}

.SpaceTheme .PlayerChoiceList button {
   background: transparent url('../images/space-btn.svg') 0 0 no-repeat / 100%
    100%;
  color: transparent;
  border-radius: 0;
  width: 40px;
  height: 40px;
}

/* Desert Theme */

.DesertTheme {
  background: black url('../images/desert.jpg') 0 0 no-repeat / cover;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.68);
}

.DesertTheme .PlayerTitle {
  border-bottom-color: white;
}

.DesertTheme .AdventureHeader {
  background: #054f67;
}

.DesertTheme .PlayerContainer {
  background: rgba(0, 0, 0, 0.54);
  padding: 24px;
  margin: 48px 5%;
}

.DesertTheme .PlayerChoiceList {
  border: 0;
}

.DesertTheme .PlayerChoiceList li {
  border: 0;
  margin-bottom: 16px;
}

.DesertTheme .PlayerChoiceList li p {
  border: 0;
  padding: 0;
}

.DesertTheme .PlayerChoiceList button {
  background: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
