.attributeTable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;

}

a {
  cursor: pointer;
}


section {
  display: flex;
  flex-wrap: wrap;
}

table{
  margin: 0 auto;
}

label {
  background: #eee;
  border: 1px solid #ddd;
  padding: .5em 1em;
  cursor: pointer;
  order: 1;
}

.flexDiv {
  width: 100%;
  padding: 1em;
  border: 1px solid #ddd;
  background: #fff;
  order: 2;
  margin-bottom: 8px;
}

input[type=radio],
.flexDiv {
  display: none;
}

input[type=radio]:checked + label {
  background: #fff;
  border-bottom: 1px solid black;
}

input[type=radio]:checked + label + .flexDiv {
  display: block;
}

select {
  height: 30px;
}
