.attributeTable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
}

a {
  cursor: pointer;
}

section {
  display: flex;
  flex-wrap: wrap;
}

label {
  background: #eee;
  border: 1px solid #ddd;
  padding: 0.5em 1em;
  cursor: pointer;
  order: 1;
}

.flexDiv {
  width: 100%;
  padding: 1em;
  border: 1px solid #ddd;
  background: #fff;
  margin-bottom: 8px;
}

.pe-list select {
  height: 33px;
}

.pe-list input[type="checkbox"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  width: 1px;
  height: auto;
}

.pe-list input[type="checkbox"] + label {
  align-items: center;
  background: none;
  border: none;
  display: flex;
  height: 33px;
  justify-content: center;
  padding: 0;
  border-radius: 5px
}

.pe-list input[type="checkbox"] + label:after {
  background-color: red;
  background-image: url(../images/x-icon.svg);
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
  content: '';
  display: block;
  height: 33px;
  width: 33px;
  padding: 6px;
}

.pe-list input[type="checkbox"]:checked + label:after {
  background-color: var(--mkt-gold);
  background-image: url(../images/check-icon.svg);
}

.pe-list .checkbox-label:after {
  margin-left: 5px;
}

.pe-list .labeled-select {
  display: flex;
}

.pe-list .labeled-select label {
  background: none;
  border: none;
  justify-content: center;
  padding-left: 5px;
  padding-top: 5px;
}

.pe-header {
  padding-bottom: 10px;
}

.pe-heading {
  text-align: center;
  text-transform: uppercase;
}

.pe-list {
  padding: 0;
}

.pe-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.pe-list div {
  margin-right: 10px;
}

.pe-list input,
.pe-list select {
  color: #3d3d3d;
}

.pe-remove-btn {
  background: none;
  background: red;
  border-radius: 99999px;
  border: 2px solid red;
  flex-shrink: 0;
  height: 20px;
  margin-left: 5px;
  padding: 0;
  position: relative;
  width: 20px;
}

.pe-remove-btn::before {
  background: white;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
}

.pe-footer {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.pe-add-btn {
  background: none;
  background: var(--color-grey-button);
  border-radius: 99999px;
  border: 2px solid var(--color-grey-button);
  height: 40px;
  position: relative;
  width: 40px;
}

.pe-add-btn:hover {
  background: var(--mkt-gold);
  border-color: var(--mkt-gold);
}

.pe-add-btn::before,
.pe-add-btn::after {
  content: '';
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
}

.pe-add-btn::before {
  height: 4px;
  width: 14px;
}

.pe-add-btn::after {
  height: 14px;
  width: 4px;
}

.pe-tabs {
  display: flex;
  align-items: flex-end;
}

.pe-tabs button {
  background: #ddd;
  border: 1px solid #ddd;
  border-bottom: none;
  border-left: none;
  color: #3d4d4d;
  font-size: 16px;
  padding: 10px 20px;
}

.pe-tabs button:first-child {
  border-left: 1px solid #ddd;
}

.pe-tabs button.pe-active-tab {
  background: white;
  padding-bottom: 13px;
  padding-top: 13px;
}

.pe-tabs button.pe-inactive-tab {
  border: 1px solid #bdbdbd;
  border-bottom: none;
}
