.SceneEditor {
  background: rgba(70, 104, 136, .87);
  color: white;
  height: 100%;
  max-width: 33%;
  min-width: 300px;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.SceneEditorField {
  padding: 16px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
}

.SceneEditorField label,
.SceneEditorField h3 {
  display: block;
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 10px;
}

.SceneEditorField input,
.SceneEditorField textarea {
  width: 100%;
  height: 33px;
  padding: 8px;
  font-size: 13px;
}

.SceneEditorPortList {
  list-style: none;
  margin: 8px 0 0;
  padding: 0;
}

.SceneEditorPortList li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  margin-bottom: 8px;
}

.SceneEditorPortList li input,
.SceneEditorPortForm input {
  flex-grow: 1;
  padding: 8px;
}

.SceneEditor .redactor-styles {
  font-size: 13px;
}

.SceneEditor .redactor-box.redactor-styles-on .redactor-toolbar {
  padding: 5px;
}
