.SceneEditor {
  background: rgba(70, 104, 136, 0.87);
  color: white;
  height: 100%;
  font-size: 14px;
  max-width: 33%;
  min-width: 300px;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.SceneEditorField {
  background: rgba(255, 255, 255, 0.88);
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24);
  color: rgba(0, 0, 0, 0.88);
  margin: 8px;
  padding: 10px 10px 12px;
}


.SceneEditorHeading {
  display: block;
  font-weight: bold;
  font-size: 12px;
  margin: 0 0 4px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.SceneEditorField input,
.SceneEditorField textarea {
  border-radius: 3px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.19);
  border: 1px solid rgba(0, 0, 0, 0.23);
  font-size: 13px;
  height: 33px;
  padding: 8px;
  width: 100%;
}

.SceneEditorPortList {
  list-style: none;
  margin: 8px 0 0;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}

.SceneEditorPortList li {
  display: flex;
  margin-bottom: 8px;
  font-size: 11px;
}

.SceneEditorPortList li span {
  margin: 0 10px;
}

.SceneEditorPortForm {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}

.SceneEditorPortList li input,
.SceneEditorPortForm input {
  flex-grow: 1;
}

.SceneEditorPortFormCreateChoice {
  flex-shrink: 0;
  margin-left: 8px;
}

.SceneEditor .redactor-styles {
  font-size: 13px;
}

.SceneEditor .redactor-box {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.54);
}

.SceneEditor .redactor-box.redactor-styles-on .redactor-toolbar {
  padding: 5px;
}

.redactor-toolbar a.re-button-icon, .redactor-air a.re-button-icon {
  font-size: 16px;
  padding: 9px 14px 6px;
}

.settingsButton {
  border: none;
  background: none;
  float: right;
}

.checkboxes {
  width: 100%;
}

.checkboxes label {
  align-items: center;
  display: flex;
  white-space: nowrap;
}

.checkboxes input {
  box-shadow: none;
  height: auto;
  vertical-align: middle;
  width: auto;
}
